.main {
    /* display: flex; */
    margin: auto;
}

body {
    /* background-color: rgba(44, 0, 0, 0.363); */
    background-image: url("./dota2background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}